---
http_interactions:
- request:
    method: post
    uri: http://apitestes.info.ufrn.br/authz-server/oauth/token?client_id=visitante-id&client_secret=53cr3t&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"985c690a-9879-4868-bc58-706d5b353152","token_type":"bearer","expires_in":7774108,"scope":"read"}'
  recorded_at: Fri, 27 Jan 2017 03:09:52 GMT
recorded_with: VCR 3.0.3
